body {
    font-family: 'Noto Kufi Arabic', sans-serif;
    background: url('/static/files/images/Background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.text {
    text-align: center;
    margin: 20px;
    background-color: rgba(25, 179, 250, 0.8); /* افزودن پس‌زمینه نیمه شفاف به متن */
    padding: 20px;
    border-radius: 10px;
}

@keyframes textGlow {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 0.8);
    }
    100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
    }
}

h1 {
    color: #4a4a4a;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
    animation: textGlow 2s infinite;
}

@keyframes imageGlow {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 0.8);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
    }
}

.swiper-container {
    width: 80%;
    height: 400px; /* تغییر ارتفاع اسلایدر */
    margin: 0 auto 20px;
}

.swiper-slide img, .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* متناسب کردن تصویر با فضای موجود */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
    transition: box-shadow 0.3s ease-in-out;
    animation: imageGlow 2s infinite;
    clip-path: ellipse(50% 50% at 50% 50%); /* ماسک کردن تصویر به شکل بیضی */
}

.hidden {
    display: none;
}

.column {
    display: flex;
    justify-content: center;
}

@keyframes boxGlow {
    0% {
        box-shadow: 0 0 10px rgba(231, 247, 10, 0.8), 0 0 20px rgba(231, 247, 10, 0.6);
    }
    50% {
        box-shadow: 0 0 20px rgba(231, 247, 10, 1), 0 0 30px rgba(231, 247, 10, 0.8);
    }
    100% {
        box-shadow: 0 0 10px rgba(231, 247, 10, 0.8), 0 0 20px rgba(231, 247, 10, 0.6);
    }
}

.gallery img {
    width: 200px; /* تغییر عرض تصویر */
    height: 150px; /* تغییر ارتفاع تصویر */
    object-fit: cover; /* متناسب کردن تصویر با فضای موجود */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(231, 247, 10, 0.8); /* افزودن پس‌زمینه نیمه شفاف به باکس */
    box-shadow: 0 0 10px rgba(231, 247, 10, 0.8), 0 0 20px rgba(231, 247, 10, 0.6);
    transition: box-shadow 0.3s ease-in-out;
    animation: boxGlow 2s infinite;
}
.info {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(10, 247, 243, 0.8); /* افزودن پس‌زمینه نیمه شفاف به باکس */
    box-shadow: 0 0 10px rgba(10, 212, 247, 0.8), 0 0 20px rgba(10, 247, 235, 0.6);
    transition: box-shadow 0.3s ease-in-out;
    animation: boxGlow 2s infinite;
}
h2 {
    color: #4a4a4a;
    margin-bottom: 20px;
}

@keyframes buttonGlow {
    0% {
        box-shadow: 0 0 10px rgba(76, 175, 80, 0.8), 0 0 20px rgba(76, 175, 80, 0.6);
    }
    50% {
        box-shadow: 0 0 20px rgba(69, 160, 73, 1), 0 0 30px rgba(69, 160, 73, 0.8);
    }
    100% {
        box-shadow: 0 0 10px rgba(76, 175, 80, 0.8), 0 0 20px rgba(76, 175, 80, 0.6);
    }
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.8), 0 0 20px rgba(76, 175, 80, 0.6);
    transition: box-shadow 0.3s ease-in-out;
    animation: buttonGlow 2s infinite;
}

button:hover {
    background-color: #45a049;
}