<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="این سایت برای دانلود برنامه مصباح است">
    <meta name="keywords" content="مصباح, دانلود برنامه مصباح, messbah, برنامه مذهبی, اپلیکیشن مذهبی">
    <title>مصباح</title>
    <link rel="stylesheet" href="/static/files/style/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
    <div class="text">
        <h1>بررسی وضعیت بلیط</h1>
        <div class="info">
            <p>نام و نام خانوادگی: {{state.name}}</p>
            <p>نام پدر: {{state.father}}</p>
            <p>کد ملی: {{state.username}}</p>
        </div>
        <div class="column">
            <div class="box">
                <p>وضعیت: {{state.status}} </p>
            </div>
        </div>
    </div>
</body>
</html>